@tailwind base;
@tailwind components;
@tailwind utilities;

.ql-align-center{
    text-align: center;
}

.ql-align-right{
    text-align: right;
}

#additional_info ul{
    list-style: disc;
    padding-left: 50px;
}

#additional_info ol {
    list-style: decimal;
    padding-left: 50px;
}